.screen{
   max-width: 25em;
   margin-bottom: 2em;
}

.links img{
   max-width: 4em;
   max-height: 2em;
}

.links, .links>*{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.links p{
   margin-right: .5em;
}

.links, .screen{
   border: 1px solid grey;
   border-radius: 4px;
   box-shadow: 1px 2px 4px grey;
}

main{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   font-family: 'Inter', sans-serif;
   background-image: linear-gradient(to left, rgba(243,214,30,0), rgba(243, 214, 30, 1));
}

#left{
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 2em;
   left:5em;
   z-index: 1000;
   font-size: 1.5em;
}

#left a{
   color: #3881ff;
}

#left h1,h2{
   font-weight: bolder;
}

#right{
   display: flex;
   flex-direction: column;
   position: relative;
   left:10em;
}

.card{
   display: flex;
   flex-direction: column;
   margin: 1em;
}

#skills{
   display: flex;
   flex-wrap: wrap;
   max-width: 16em;
}
#skills img{
   height: 60px;
}

a{
   text-decoration: none;
}
